.orderDetails
{
  padding-bottom: 60px;
}

.number
{
  text-align: center;

  color: #f2f2f3;
  text-shadow: 0 4px 32px rgba(51, 51, 255, .50), 0 0 8px rgba(51, 51, 255, .25), 0 0 16px rgba(51, 51, 255, .25);
}

.topic
{
  text-align: center;

  color: #f2f2f3;
}

.icon
{
  padding: 8px 0 8px;
}

.icon img
{
  display: block;

  margin: 0 auto;
}

.status
{
  text-align: center;

  color: #f2f2f3;
}

.text
{
  text-align: center;

  color: #8585ad;
}

.loader
{
  display: block;

  margin: 0 auto;
}
