.profile
{
  max-width: 1240px;
  margin: 0 auto;
}

.body
{
  display: flex;
}

.sidebar
{
  width: 320px;

  flex-shrink: 0;
}

.menu
{
  display: flex;
  flex-direction: column;
}

.menuItem
{
  padding: 17px 0;

  cursor: pointer;
  text-align: left;
  text-decoration: none;

  color: #fff;
  border: none;
  background: transparent;
}

.menuActive
{
  color: #fff;
}
