.forgotPassword
{
  display: flex;
  flex-direction: column;

  padding: 180px 0 0;

  align-items: center;
}

.nav
{
  text-align: center;
}

.footer
{
  text-align: center;
}

.link
{
  margin-left: 8px;
  padding: 0;
}
