.header
{
  background: #1c1c21;
}

.body
{
  position: relative;

  display: flex;

  max-width: 1280px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
}

.nav
{
  display: flex;

  gap: calc(var(--offset-base-size) * 2);
  align-items: center;
}

.item
{
  display: flex;

  cursor: pointer;
  text-decoration: none;

  color: #8585ad;
}

.itemActive
{
  color: #f2f2f3;
}

.logo
{
  position: absolute;
  left: 50%;

  transform: translate(-50%, 1px);
}
