.ingredientDetails
{
  /*  */
}

.topic
{
  line-height: 64px;

  margin-top: calc(var(--offset-base-size) * 30);

  text-align: center;

  color: #f2f2f3;;
}

.img img
{
  display: block;

  max-width: 100%;
  margin: 0 auto;
}

.title
{
  text-align: center;

  color: #f2f2f3;
}

.params
{
  display: flex;

  justify-content: center;
}

.paramsItem
{
  min-width: 112px;

  text-align: center;
}

.paramsTitle
{
  color: #8585ad;
}

.paramsText
{
  color: #8585ad;
}

.paramsItem:last-child
{
  margin-right: 0;
}
